<%= javascript_include_tag 'recommendation' %>

<!-- put div inside link_to -->
<a href="#" id="generate">Generate Food</a>

<h1 id="reco_title">Your Recommendations:</h1>

<ul id='recommendations_list'>
  <% @reco_list.each do |food| %>
    <li class='food'>
      <%= link_to normalize(food.name), user_playlist_food_path(current_user, food.id), class: "food_specific" %>
      <%= link_to image_tag(food.image_url, class: "img food_image"), user_playlist_food_path(current_user, food.id) %>
      <!-- Like Button -->
      <%= link_to image_tag("http://images.wikia.com/candy-crush-saga/images/7/7e/Thumbs-up-icon.png", class: "thumbs_up"), like_user_playlist_food_path(current_user, food.id), method: "put" %>
      <!-- Dislike Button -->
      <%= link_to image_tag("http://upload.wikimedia.org/wikipedia/en/2/2f/Thumbs-down-icon.png", class: "thumbs_down"), dislike_user_playlist_food_path(current_user, food.id), method: "put" %>
      <!-- build out unliked_foods, ingredients, trials before -->
    </li>
  <% end %>
</ul>
