<!-- put div inside link_to -->
<%= link_to "Generate Food", generate_recommendation_user_path, id: "generate" %>

<h1>Your Recommendations:</h1>

<ul>
  <% @user.playlist_foods.each do |food| %>
    <div class="food">
      <li>
          <div>
            <div class="food_link">
              <%= link_to normalize(food.name), user_playlist_food_path(current_user, food.id), class: "food_specific" %>
            </div>
            <div class="food_image"><%= link_to image_tag(food.image_url, class: "img"), user_playlist_food_path(current_user, food.id) %></div>
          </div>
          <div class="rate_buttons">
            <!-- Like Button -->
            <div class="thumbs_up"><%= link_to image_tag("http://images.wikia.com/candy-crush-saga/images/7/7e/Thumbs-up-icon.png", class: "thumbs_up"), like_user_playlist_food_path(current_user, food.id), method: "put" %></div>
            <!-- Dislike Button -->
            <div class="thumbs_down"><%= link_to image_tag("http://upload.wikimedia.org/wikipedia/en/2/2f/Thumbs-down-icon.png", class: "thumbs_down"), dislike_user_playlist_food_path(current_user, food.id), method: "put" %></div>
            <!-- build out unliked_foods, ingredients, trials before -->
          </div>
      </li>
    </div>
  <% end %>
</ul>
