<!DOCTYPE html>
<html>
<head>
  <title>WeHungry</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
      <ul>
        <% if logged_in? %>
          <li><%= link_to 'Profile', user_path(current_user), :method => :get %></li>
          <li><%= link_to 'Edit', edit_user_path, :method => :get %></li>
          <li><%= link_to 'Logout', session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path, :method => :get %></li>
          <li><%= link_to 'Login', new_session_path, :method => :get %></li>
        <% end %>
      </ul>
  </nav>

<%= yield %>

</body>
</html>
