<!DOCTYPE html>
<html>
<head>
  <title>WeHungry</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
    <nav>
        <ul>
          <% if logged_in? %>
            <div class="nav_left">
              <li><%= link_to 'Profile', user_path(current_user), class: "nav_button", :method => :get %></li>
              <li><%= link_to 'Edit', edit_user_path(current_user), class: "nav_button", :method => :get %></li>
            </div>
            <div class="nav_right">
              <li><%= "Hello, " + current_user.email + "!" %></li>
              <li><%= link_to 'Logout', session_path, class: "logout", :method => :delete %></li>
            </div>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_path, class: "nav_button", :method => :get %></li>
            <li><%= link_to 'Login', new_session_path, class: "nav_button", :method => :get %></li>
          <% end %>
        </ul>
    </nav>
  </div>

<div id="content">
  <%= yield %>
</div>

<footer>
  <p>By Davis Koh for <%= image_tag "http://i40.tinypic.com/25646yg.png", id: "ga" %> <span>General Assembly</span> 2013</p>
</footer>

</body>
</html>
